# Tarea 1

List all the Canadian cities and their populations

In [ ]:
SELECT 
    city,
    population
FROM North_american_cities
WHERE Country = 'Canada'

Order all the cities in the United States by their latitude from north to south

In [ ]:
SELECT city
FROM north_american_cities
WHERE Country = 'United States'
ORDER BY latitude DESC

List all the cities west of Chicago, ordered from west to east

In [ ]:
SELECT city
FROM north_american_cities
WHERE longitude < (SELECT longitude 
                   FROM north_american_cities 
                   WHERE city = 'Chicago')
ORDER BY longitude ASC

List the two largest cities in Mexico (by population)

In [ ]:
SELECT city
FROM north_american_cities
WHERE Country = 'Mexico'
ORDER BY Population DESC
LIMIT 2

List the third and fourth largest cities (by population) in the United States and their population

In [ ]:
SELECT city
FROM north_american_cities
WHERE Country = 'United States'
ORDER BY Population DESC
LIMIT 2 OFFSET 2